@media screen and (min-width:480 px){
    body{
    background-color:whitesmoke;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18.72px;
    text-align: center;
    width:rem;
    border-color: red;
    border-style: solid;
    border-left: white;
    border-right: white;
    border-top: white;
    padding-bottom: 10px;
    margin-left:300px;
    margin-right:300px;
}
img{
    float:inline-end;
    padding-left: 10px;
    width:30%;
    margin: 10/6%;
    clear:clear;
}
nav>ul>li {
    display:inline-block;
    padding: 10px 3px;
    font-size:20px;
}
nav>ul>li>a{
    text-decoration:none;
    color:black;
    size:36px;
} 
a:hover{
    border-bottom: solid red;
}}